Current fake temperature: <%= @temperature %>
<br />
Target word: <%= @game_state.target %>
<%= for guess <- @game_state.guesses do %>
  <p> <%= guess %> </p>
<% end %>


<form phx-change="validate" phx-submit="guess_it">
  <input type="text" name="guess" id={"#{@input_id}"} />
  <button>Guess it!</button>
</form>
